header{
  background-color: $color-header;
  height: 51px;
}

header ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
  margin: 0;
}

header ul li{
  color: $color-link;
  padding-right: 20px;
  list-style: none;

}
header ul li:hover{
  color: $color-link-hover;
  text-decoration: underline;
}
