
.produit{
  height: 524px;
  width: 360px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#html{
  background-color: #E34E26;
}
#css{
  background-color: #0270BB;
}
#javascript{
  background-color: #F8DC3D;
}

article h2{
  color: $white;
}



.grid-articles{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


